build
buildobj
xcbuild
xcbuild/**/*
Src/out/**/*

Shaders/Spirv/**/*
Shaders/LastUpdated.fxd

obj
*.ninja
.*
*.vcxproj*
*.slnx
*.sln

*.ftx

bin

*.dir
x64

# Exclusions for .*
!.gitignore
!.gitattributes

!.clangd
!.clang-format
!.clang-tidy

compile_commands.json
*.xcodeproj
*.xcworkspace

Makefile
*.make

CMakeCache.txt
*.cmake

CMakeFiles

bakes
Testing
