build
buildobj
xcbuild
xcbuild/**/*
Src/out/**/*

Shaders/Spirv/**/*
Shaders/LastUpdated.fxd

obj
*.ninja
.*
*.vcxproj*
foxtrot.slnx
foxtrot.sln

# Exclusions for .*
!.gitignore
!.gitattributes

!.clangd
!.clang-format
!.clang-tidy

compile_commands.json
foxtrot.xcodeproj
foxtrot.xcworkspace

Makefile
*.make

CMakeCache.txt
*.cmake

CMakeFiles
